html * {
    font-family: sans-serif;
    box-sizing: border-box;
}

.app-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 1600px;
    margin: 0 auto;
}

.controls-wrapper {
    display: flex;
    align-items: center;
    background: #f25f5c;
    width: 100%;
    padding: 32px;
}

.controls-wrapper > :not(:last-child) {
    margin-right: 16px;
}

.controls-wrapper select {
    padding: 16px;
    font-size: 21px;
}

.controls-wrapper input {
    padding: 16px;
}

.controls-wrapper button {
    padding: 16px;
}

.hexagons-wrapper {
    position: relative;

    width: 100%;

}

.game-status {
    font-size: 32px;
    color: #fff;
}

/*'#f25f5c', '#ffe066', '#247ba0', '#70c1b3'],*/
